<!-- Navbar -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <!-- Navigation options -->
    <div class="navbar-nav">
      <!-- Brand logo and name -->
      <a class="navbar-brand ml-2 mt-2 mb-2 mr-4" routerLink="/">
        <img src="../../assets/brand/omega.svg" width="30" height="30" class="d-inline-block align-top mr-1" alt=""
          loading="lazy">
        Exceled
      </a>
      <!-- Nav Links -->
      <div *ngFor="let link of links">
        <a class="nav-item nav-link m-2" [routerLink]="link.routerLink" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <fa-icon [icon]="link.icon" class="mr-1"></fa-icon>
          {{ link.title }}
        </a>
      </div>
    </div>
  </div>
</nav>
