<div class="pt-4 pb-4 bg-light" id="about">
  <div class="container">
    <div class="text-center">
      <h1 class="display-4">About Us</h1>
      
      <!-- Card Deck -->
      <div class="card-deck">
        <div class="card border-0 bg-light mt-4">
          <div class="card-body">
            <h5 class="card-title">Who we are</h5>
            <p class="card-text">EXCEL'ED was established in 2001 to support with the increasing demands placed on school finance staff. We specialise in the field of school financial management with an emphasis on both everyday working practices and strategic development.</p>
          </div>
        </div>

        <div class="card border-0 bg-light mt-4">
          <div class="card-body">
            <h5 class="card-title">Experience</h5>
            <p class="card-text">Our experience dates back to the early days of Local Management of Schools and there has been much change since. In this ever expanding and demanding field we are at the forefront of the latest developments and constantly work to prepare schools to cope with change.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
