<div class="pt-4 pb-4 bg-light" id="training">
  <div class="container">
    <div class="text-center">
      <h1 class="display-4">Training</h1>

      <div class="row justify-content-center mt-3">
        <fa-icon icon="check-circle" class="mr-1"></fa-icon>
        Training in the use of any EXCEL'ED school system purchased
      </div>

      <div class="row justify-content-center mt-3">
        <fa-icon icon="check-circle" class="mr-1"></fa-icon>
        Support Line for the systems (Includes telephone and e-mail support for all EXCEL'ED tools)
      </div>

      <div class="row justify-content-center mt-3">
        <fa-icon icon="check-circle" class="mr-1"></fa-icon>
        Consultancy on all aspects of school financial management
      </div>

      <div class="row justify-content-center mt-3">
        <fa-icon icon="check-circle" class="mr-1"></fa-icon>
        Training for Governors and Headteachers
      </div>

      <div class="row justify-content-center mt-3">
        For more information contact&nbsp;<b>steve@exceled.co.uk</b>
      </div>

    </div>
  </div>
</div>